{% comment %} What is filter? {% endcomment %}
{% comment %}
  A filter is a way of transforming an input or a value into another value
  based on certain condition so there are  some filters that are native of liquid
  but then there are some others that are added by shopify...
{% endcomment %}

{% comment %}
  for example we want to add 5 in number but we can't and we will use filter for for addtion we
  will use filter plus
{% endcomment %}
{% comment %} plus filter {% endcomment %}
{% assign number = 10 %}
{% comment %} {% assign anothernumber=number+5 %} {% endcomment %}
{% comment %} so we will use filter plus {% endcomment %}
{% assign anothernumber = number | plus: 5 %}
<p>number is:{{ anothernumber }}</p>
{% comment %} minus filter {% endcomment %}
{% assign anothernumber = anothernumber | minus: 5 %}
<p>number is:{{ anothernumber }}</p>
{% comment %} for multiplication we will use times filter {% endcomment %}
{% assign anothernumber = anothernumber | times: 6 %}
<p>number is:{{ anothernumber }}</p>
{% comment %} for division we will use divided_by filter {% endcomment %}
{% assign anothernumber = anothernumber | divided_by: 2 %}
<p>number is:{{ anothernumber }}</p>

{% comment %} convert string number to a number {% endcomment %}
{% assign mynumber = '10' %}
{% assign mynewnumber = mynumber | plus: 0 %}
<p>
  now number is converted from string to number using filter plus:
  {{ mynewnumber }}
</p>
{% comment %} nest filter is modulo {% endcomment %}
{% comment %}
  note: we can't use filters in the like in the declaration of a conditional or a loop,
  insead we have to create an intermediary variable here so
  assing moduoofmunumber=mynumber | modulo:2
{% endcomment %}
{% assign num = 11 %}
{% assign moduloofmynumber = num | modulo: 2 %}
{% if moduloofmynumber == 0 %}
  <p>Even</p>
{% else %}
  <p>Odd</p>
{% endif %}

{% comment %}
  if i have a value let's -11 and i only need absolute value which is 11, so we could use
  absolute filter
{% endcomment %}
{% assign numm2 = -11 | abs %}
{% comment %} without | abs output will be -11 but using | abs will only give absolute value which is 11. {% endcomment %}
<p>Absolute number is:{{ numm2 }}</p>
{% comment %} round filter will round number i.e if number is 10.5 it will do it as 11 {% endcomment %}
{% comment %} floor filter will round number i.e if number is 10.5 it will do it as 10 {% endcomment %}
{% comment %} ceil filter will round number i.e if number is 10.4 it will do it as 11 {% endcomment %}
{% assign myroundfiltr = 10.4 | round %}
<p>myRoundNumberIS={{ myroundfiltr }}</p>
{% comment %}
  at_most filter filter will give us at_most value like if number is 100 and we set
  at_most value is 80 then we will get value 80 but if it's at_least filter and we set at_least value to 70
  and actual value is 60 so it will get value 70
{% endcomment %}
{% assign myCappedVal = 100 | at_most: 80 %}
myCappedVal:{{ myCappedVal }}
{% assign myCappedVal = 100 | at_least: 80 %}
myCappedVal:{{ myCappedVal }}
