{% comment %} we can also pass two parameters in liquid which are limit and offset {% endcomment %}
{% comment %} we can limit iterations of loop and also set a value where to start using offset by setting offset value {% endcomment %}

{% for product in collection.products limit: 5 offset: 4 %}
  <p
    style="
      {% if forloop.first %}
        color: green
        {%elsif forloop.last %}
          color:orange
          {% else %}
           color: blue
      {% endif %}
    "
  >
    {{ forloop.index }}- this is title:{{ product.title }}
  </p>
  {% if product.tags.size > 0 %}
    <h2>Tags</h2>
    <ul>
      {% for tag in product.tags %}
        {% if tag == 'Sport' %}
          {% comment %} {% break %} {% endcomment %}
          {% continue %}
        {% endif %}
        {% comment %}
          so this below for loop is associate with the closest for loop and if we need to access
          previous loop then we will use forloop.parentloop and there are three or more nested loops then
          we will use lforloop.parentloop.parentloop.parentloop and so on etc
        {% endcomment %}
        <li>Product Index:{{ forloop.index }} | Tag:{{ tag }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>This collection has no products.</p>
  {% endif %}
{% endfor %}

{% comment %} arbitrary ranges of number {% endcomment %}
{% for i in (11..15) %}
  <p>hello world value:{{ i }} at index:{{ forloop.index0 }}</p>
{% endfor %}
{% comment %} we can't run more iteration than 50 per page, for this we use paginate in case we have much of the products {% endcomment %}
