{% comment %} <p>Hello from tutorial liquid</p> {% endcomment %}
{% comment %} now let's create a variable {% endcomment %}
{% comment %} so assign {% endcomment %}
{%- assign myvariable = 'this is my first liquid variable' -%}
{{ myvariable }}
<p>hello</p>
{% comment %}  this comment will not shown as this is liquid comment and liquid works at server side not client side{% endcomment %}
<!-- html comment this comment is at client side so it's shown when you click at view page source -->

{% comment %} string data type {% endcomment %}
{% assign var = 'string values inside quote either double or single' %}
{{ var }}
<br>
<label
  >size:
  {{ var.size }}
</label>
{% comment %} numbers and floats {% endcomment %}
{% assign number = 1234 %}
{% assign float = 12.3 %}
<br>
{{ number }}
<br>
{{ float }}
{% comment %} booleans {% endcomment %}
<br>

{% assign boolean = true %}
{% assign boolean2 = false %}
{{ boolean }}
{{ boolean2 }}
<br>
{% assign nilvar = null %}
{{ nilvar }}
{% if number == null %}
  <p>number is null</p>
{% else %}
  <p>Number is not null, number is {{ number }}</p>
{% endif %}

{% assign array=[1,2,3,4,5,6,7] %}
{{ array }}
<br>
{{ product.tags }}
<br>
{{ 'Product1' }}
<br>

{{ product.tags[1] }}
<br>
{{ product.tags.size }}
<br>
{% comment %} for loop {% endcomment %}
{% assign mytags = 'tags' %}

<label>
  tags:
  {%- for tag in product.tags %}
    {{ tag }}
    <br>
  {% endfor %}
</label>

{% comment %} objects {% endcomment %}
<h2>
  Title is:
  <p>{{ product.title }}</p>
</h2>
{% comment %} capture in liquid {% endcomment %}
{% capture html %}
    <div>
        <p>Hello title is:{{ product.title }}</p>
    </div>
    {% endcapture %}
{{ html }}
{{ html.size }}
